.custom-checkbox .form-check-input:checked {
  background-color: #1A5319;
  border: 2px solid #1A5319;
}
.custom-checkbox .form-check-input{
  border: 2px solid #1A5319;
}

.payments-check, .custom-checkbox .form-check-input:focus {
  border-color: #1A5319;
  box-shadow: 0 0 0 0.25rem rgba(26, 83, 25, 0.25);
}



body, html{
overflow-x: hidden;
}


.payments-checkbox .form-check-input {
  border: 2px solid #1A5319;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
}

.payments-checkbox .form-check-input:checked {
  background-color: #1A5319;
  border-color: white;
}